.user-profile {
    padding: 80px 10px 0;
    background: #F9F9F7;
    // height: 110vh;

    .user-profile-grid {
        // border: 1px solid black;
        padding: 10px;

        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: repeat(3, 1fr);

        grid-template-areas:
            "account wallet orders"
            "address favorites customize";


        justify-items: center;
        gap: 3rem;


        &>div {
            width: 350px;
            height: 280px;
            // border: 1px solid lightgrey;
            overflow-y: scroll;


            .profile-title {
                border-bottom: 1px solid #67645E;
                padding: 5px;
                margin-bottom: 30px;

                h2 {
                    text-transform: uppercase;
                    font-weight: normal;
                    color: #2c2c2c;
                }
            }


            .profile-content {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                margin-bottom: 20px;





                h3 {
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 0.1ch;
                }

                p {
                    margin: 5px 0;
                    color: #67645E;
                }

                .change-password-btn {
                    width: 180px;
                    height: 35px;

                    appearance: none;
                    background: none;
                    border: 1px solid #67645E;
                    border-radius: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 14px;
                    color: #2c2c2c;
                    letter-spacing: 0.1ch;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.6;
                        transition: opacity 0.3s;

                    }
                }

                a {
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    color: #2c2c2c;

                    &:visited {
                        color: #2c2c2c;
                    }

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                        text-decoration-thickness: 2px;
                    }
                }
            }
        }
    }
}

/* credit card */

.credit-card-shape {
    margin-top: 5px;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px #2c2c2c;
    padding: 15px;

    #obfuscated-card-number {
        color: black;

    }


    span {
        margin-right: 5px;
    }


}

#my-account {
    grid-area: account;
}

#my-wallet {
    grid-area: wallet;
}

#my-orders {
    grid-area: orders;
}

#my-address {
    grid-area: address;
}

#my-favorites {
    grid-area: favorites;
}

#customize {
    grid-area: customize;
}




@media only screen and (max-width: 1210px) {
    .user-profile>.user-profile-grid {
        grid-template-areas:
            "account wallet"
            "address orders"
            "favorites customize";
    }
}

@media only screen and (max-width: 800px) {
    .user-profile>.user-profile-grid {
        grid-template-areas:
            "account"
            "wallet"
            "address"
            "orders"
            "favorites"
            "customize";
    }
}