main {
    display: flex;
    flex-direction: column;

    .with-sugar-main {
        display: flex;
        height: 79vh;
        padding-top: 80px;
        background-color: #F9F9F7;
    
        .with-sugar-container {
            display: flex;
            width: 100%;
    
            .category-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;            
                width: 50%;
                border-right: 0.5px solid rgba(0, 0, 0, 0.8);
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);


    
                
                .category-text-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 40ch;
                    height: 0.5rem;
                    gap: 0.5rem;
    
                    p {
                        font-size: 20px;
                        line-height: 22px;
                    }
    
    
                    h2 {
                        font-size: 48px;
                        letter-spacing: 0.3rem;
                        text-transform: uppercase;
                    }
                }
            }
    
            .category-img-wrapper {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                width: 50%;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);

    
    
            }
        }
    }

    .sugar-products-container {
        height: 120vh;
        background-color: #F9F9F7;
        // border: 1px solid red;

        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 100px;


        .products-selector {
            border: 1px solid green;
            h3 {
                font-size: 40px;
            }

            width: 340px;
        }

        .products-display {
            // border: 1px solid purple;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;

            .sugar-product {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;

                max-width: 260px;
                max-height: 280px;
                // border: 1px solid red;

                img {
                    width: 100%;
                }

                a {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    color: #2c2c2c;

                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                        text-decoration-thickness: 2px;
                    }

                }
            }
        }
    }
}