.product-main {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F7;

    .with-product-main {
        display: flex;
        height: 79vh;
        padding-top: 80px;
    
        .with-product-container {
            display: flex;
            width: 100%;
    
            .category-description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;            
                width: 50%;
                border-right: 0.5px solid rgba(0, 0, 0, 0.8);
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
                
                .category-text-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 40ch;
                    height: 0.5rem;
                    gap: 0.5rem;
    
                    p {
                        font-size: 20px;
                        line-height: 22px;
                    }
    
    
                    h2 {
                        font-size: 48px;
                        letter-spacing: 0.3rem;
                        text-transform: uppercase;
                    }
                }
            }
    
            .category-img-wrapper {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                width: 50%;
                border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);

    
    
            }
        }
    }

    .products-container {
        height: 120vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 100px;


        .products-selector {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 3rem;

            .selector-text-wrapper {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                h3 {
                    font-size: 40px;
                    flex: 0.2;
                }
    
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }

            width: 340px;
        }

        .products-display {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: 1rem;
        }
    }
    .try-other-products {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        h4 {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 20px;
        }
    }
    padding-bottom: 50px;
}