* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
}



@mixin btn-svg-a-hover {
    &:hover {
        cursor: pointer;
        opacity: 0.6;
        color: #67645e;
        transition: 0.3s;
    }
}

a {
    text-decoration: none;
}

#logo-dark {
    width: 160px;
    align-self: center;
}

// START OF NAVBAR STYLES

nav {
    position: fixed;
    width: 100vw;
    
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 80px;
    background-color: #F9F9F7;

    
    

    ul {
        margin: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    
        li {
            @include btn-svg-a-hover;
            
            a:visited {
                color: #2C2C2C;
            }

            &:first-child {
                font-size: 16px;
                font-weight: 800;
                color: #2C2C2C;
                letter-spacing: 0.1rem;

            }
            &:nth-child(2) {
                margin-left: 20px;

            }
            &:nth-child(3) {
                margin-right: 20px;
            }
            
            list-style: none;
            
            button {
                appearance: none;
                background-color: #F9F9F7;
                border: 1px solid #2C2C2C;
                border-radius: 20px;
                width: 137px;
                height: 40px;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 0.1rem;
                text-transform: uppercase;
                margin: 0;

                &:hover {
                    @include btn-svg-a-hover;
                }
            }
        }
    }
}

// END OF NAVBAR STYLES

// START OF MAIN SECTION (landing)

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 950px;
    font-family: 'Mulish', sans-serif;

    /*
    @media  screen and (max-width: 900px) {
        font-size: 14px;
    }
    */
    
    

    .description-wrapper {
        
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        text-align: center;
        max-width: 388px;
        color: #2C2C2C;

        a {
            text-transform: uppercase;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.4rem;
            letter-spacing: 2px;
            @include btn-svg-a-hover;
        }


    }

    h2 {
        text-transform: uppercase;
        
        font-size: 40px;
        //font-style: ExtraBold;
        //line-height: 60px;
    }

    p {
        line-height: 29px;
        font-size: 14px;
        margin-bottom: 20px;

    }

    
    img {
        width: 40%;

    }


    

 

}

.classics {
    border-right: 0.5px solid rgba(0, 0, 0, 0.8);
    background-color: #EBE8E1;
}

.specials {
    background-color: #DADADA;
}

// END OF MAIN SECTION (landing)
